/* 
    Document   : uw-freelancer-widgets
    Created on : Feb 4, 2013, 12:20:34 PM
    Author     : upeksha
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

